* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}


.welcome {
    text-align: center;
    color: #e5b531; 
    margin-bottom: 70px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 80px; 
}


.card {
    flex: 1 1 calc(33.33% - 40px); 
    max-width: 250px;
    background-color: #f6cc27; 
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card.main-accessory {
    border: 2px solid #f0c91b; 
    background-color: #f0c91b; 
}


.card img {
    width: 100%;  
    height: 200px;  
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


.accessory-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}


.accessory-subtitle {
    font-size: 0.9em;
    margin-bottom: 10px;
}


.buy-button {
    background-color: #e06b34;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease;
    margin-top: auto; 
}

.buy-button:hover {
    background-color: #ec731c;
}


.btn-back {
    display: inline-block;
    text-decoration: none;
    background-color: #e2b811;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: fixed; 
    bottom: 100px; 
    right: 20px; 
    z-index: 999; 
}

.btn-back:hover {
    background-color: #e6ae13;
}


a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    background-color: #dabb25;
    color: white;
}


.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #f7a01e;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e6d324;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    z-index: 1; 
}


@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; 
    }

    .container {
        gap: 10px; 
    }

    .btn-back {
        bottom: 80px; 
    }
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 40px); 
    }

    .btn-back {
        bottom: 90px; 
    }
}


@media (min-width: 1024px) {
    .card {
        flex: 1 1 calc(33.33% - 40px); 
    }

    .btn-back {
        bottom: 100px; 
    }
}


    







